.Nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #1f212b;
      position: fixed;
      width: 100%;
      box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  }
  
  .Nav .buttonLogin {
    border: none;
    text-decoration: none !important;
    width: 130px;
    height: 45px;
    margin: 20px;
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
    background: #007aff;
    color: #ffffff;
  }
  
  .Nav .buttonLogin:hover {
    border: none;
    text-decoration: none !important;
    background: #007bffde;
  }
  
  .Nav .buttonLogin:active {
    font-size: 15px;
  }